<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="black_mamba">

    <xacro:include filename="/home/ed/ros2_ws/src/black_mamba/description/create_base.urdf.xacro" />
    <!-- <xacro:include filename="/home/ed/ros2_ws/src/black_mamba/description/create_base_gazebo.urdf.xacro" /> -->
    <!-- <xacro:include filename="gazebo_control.xacro" /> -->
    <xacro:include filename="ros2_control.xacro" />
    <xacro:include filename="/home/ed/ros2_ws/src/black_mamba/description/depth_camera.xacro" />
    <!-- <xacro:include filename="/home/ed/ros2_ws/src/black_mamba/description/bm_gazebo.urdf.xacro" /> -->
</robot>